<div align="center">
    <h1>Welcome to Angular Application</h1>
 </div>

 <h1>Student List is :{{stulist}}</h1>
 <hr>

<h1> Days : {{Days}}</h1>

 <hr>

 <h2> Rollno :{{stu.rollno}}</h2>
 <h2>Name :{{stu.name}}</h2>
 <h2>Address :{{stu.address}}</h2>
 <h2>MobileNo :{{stu.mobile}}</h2>
 <h2>Present : {{stu.isPresent}}</h2>

 <hr>

 <h3> value of number = {{num}}</h3><br><br>

 <h3>price is ={{price}}</h3><br><br>

 <h3>Your Name is {{name}}</h3><br><br>

 <h3>is present is {{isPresent}}</h3><br><br>

 <h3>Wish {{greet}}</h3><br><br>

 <h3>Data = {{data}}</h3>

 <h3>Data 1 is {{data1}}</h3>






